* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sen", sans-serif;
}

.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202020;
    padding: 15px 0;
    z-index: 999;
}

.Navbar-inner {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
}


.Logo img {
    width: 100%;
}

.Links ul {
    list-style: none;
    display: flex;
}

.Links a {
    text-decoration: none;
    padding-right: 25px;
    color: white;
}

.Container {
    background-image: url(../images/full-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.Container-Info {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    line-height: 60px;
    font-size: 25px;
}

.Learn {
    padding: 15px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
}

.Learn:hover {
    opacity: 0.8;
}

.Website {
    padding: 40px 50px;
    background-color: #161616;
    text-align: center;
}

.Website h2 {
    color: white;
    padding-bottom: 20px;
    font-size: 32px;
}

.Website p {
    color: #606060;
    font-size: 1.1em;
}

.About {
    background-color: #1d1d1d;

}

.About-inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    gap: 50px;
    padding-bottom: 50px;
}

.About-Left {
    width: 50%;
    padding-right: 20px;
}

.Right-About {
    width: 50%;
    padding-left: 20px;
    text-align: start;
}

.Right-About h2 {
    color: white;
    padding-bottom: 25px;
}

.Right-About p {
    color: #999;
    line-height: 35px;
    padding-bottom: 25px;
}

.Border-Bottom {
    width: 40px;
    height: 1px;
    background-color: #999;
    opacity: 0.3;
    margin-bottom: 20px;
}

.About-Left img {
    width: 100%;
}

.Albums {
    background-color: #161616;
    padding: 50px 0px;
}

.Albums-inner {
    width: 80%;
    text-align: center;
    margin: auto;
}

.Albums-inner h3 {
    color: white;
    padding-bottom: 30px;
    font-size: 30px;
}

.Albums-inner p {
    color: #999;
    font-size: 17px;
}

.Albums-Bar {
    display: flex;
    margin: auto;
    text-align: center;
}

.Albums-Bar ul {
    display: flex;
    text-align: center;
    margin: auto;
    list-style: none;
}

.Albums-Bar ul li {
    padding-top: 35px;
    color: #999;
    padding-right: 20px;
}

.Albums-Bar ul li:hover {
    color: white;
}

.Albums-Photos {
    display: flex;
    margin: auto;
    align-items: flex-start;
}

.First-Album {
    width: 33.33%;
    margin-right: 50px;
    position: relative;
    overflow: hidden;
    transition: all ease 1s;
}

.First-Album img {
    width: 100%;
    transition: all ease 1s;
}

.Second {
    width: 33.33%;
    margin-right: 50px;
    position: relative;
    overflow: hidden;
    transition: all ease 1s;
}

.third {
    width: 33.33%;
    margin-right: 50px;
    position: relative;
    overflow: hidden;
    transition: all ease 1s;
}

.First-Album1 {
    margin-right: 50px;
    position: relative;
    overflow: hidden;
}

.First-Album1 img {
    width: 100%;
    transition: all ease 1s;
}

.Layer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.icons {
    display: flex;
}

.icons i {
    color: black;
    background-color: white;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 10px;
    margin-right: 15px;
}

.search:hover {
    opacity: 0.8;
}

.link:hover {
    opacity: 0.8;
}

.First-Album :hover.Layer {
    opacity: 1;
}

.First-Album:hover img {
    transform: scale(1.2);
}

.Second :hover.Layer {
    opacity: 1;
}

.First-Album1:hover img {
    transform: scale(1.2);
}

.third :hover.Layer {
    opacity: 1;
}

.View {
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 10px;
}

.News {
    background-color: #1d1d1d;
    margin: auto;
    text-align: center;
    padding: 60px 0px;
}

.News h3 {
    color: white;
    padding-bottom: 30px;
    font-size: 30px;
}

.News p {
    color: #999;
    font-size: 17px;
    padding-bottom: 30px;
}

.News-inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    gap: 50px;
    padding-bottom: 50px;
}

.Card {
    text-align: left;
    background-color: #232323;
    padding: 50px;
    width: 33.33%;
}

.Card h3 {
    color: white;
    padding-bottom: 20px;
    font-size: 30px;
}

.Card p {
    color: #999;
    font-size: 17px;
    padding-bottom: 10px;
}



.Ancher a {
    text-decoration: none;
    color: white;
}

.Ancher a i {
    padding-left: 10px;
    vertical-align: middle;
}

.Ancher:hover a {
    color: #333333;
}


.View2 {
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 10px;
}

.View2 i {
    padding-left: 15px;
    vertical-align: middle;
}

.Footer {
    padding: 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 21, 21);
}

.Footer p {
    color: rgb(119, 119, 119);
    padding: 20px 0px;
}

.Footer-Icons {
    display: flex;
    justify-content: center;
}

.Footer-icon {
    margin-right: 10px;
    color: rgb(83, 83, 83);
    background-color: #333333;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.icon-1:hover {
    background-color: #3b5998;
    color: white;
}

.icon-2:hover {
    background-color: #dd4b39;
    color: white;
}

.icon-3:hover {
    background-color: #007bb5;
    color: white;
}

.icon-4:hover {
    background-color: #00aced;
    color: white;
}

/* ==================================================== */
img {
    max-width: 100%;
    height: auto;
}

/* Very small screens (max-width: 320px) */
@media screen and (max-width: 320px) {
    .Navbar-inner {
        width: 95%;
        padding: 10px;
    }

    .Logo img {
        width: 70%;
    }

    .Links ul {
        flex-direction: column;
        gap: 5px;
    }

    .Links a {
        font-size: 10px;
        padding: 5px 0;
    }

    .Container {
        min-height: 60vh;
    }

    .Container-Info {
        top: 10%;
        left: 5%;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
    }

    .Container-Info h1 {
        font-size: 18px;
    }

    .Learn {
        font-size: 8px;
        padding: 6px;
    }

    .Website {
        padding: 15px 10px;
    }

    .Website h2 {
        font-size: 18px;
    }

    .Website p {
        font-size: 0.7em;
    }

    .About-inner {
        width: 95%;
        padding: 15px 0;
        gap: 10px;
    }

    .About-Left,
    .Right-About {
        width: 100%;
        padding: 0;
    }

    .Right-About h2 {
        font-size: 18px;
    }

    .Right-About p {
        font-size: 12px;
        line-height: 22px;
    }

    .Albums {
        padding: 20px 0;
    }

    .Albums-inner {
        width: 95%;
    }

    .Albums-inner h3 {
        font-size: 20px;
    }

    .Albums-inner p {
        font-size: 12px;
    }

    DeepSearch .Albums-Bar ul {
        flex-wrap: wrap;
        gap: 5px;
    }

    .Albums-Bar ul li {
        font-size: 10px;
        padding-right: 5px;
    }

    .Albums-Photos {
        flex-direction: column;
    }

    .First-Album,
    .Second,
    .third {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .First-Album1 {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .News {
        padding: 20px 0;
    }

    .News-inner {
        width: 95%;
        flex-direction: column;
        gap: 15px;
    }

    .News h3 {
        font-size: 20px;
    }

    .News p {
        font-size: 12px;
    }

    .Card {
        width: 100%;
        padding: 15px;
    }

    .Card h3 {
        font-size: 18px;
    }

    .Card p {
        font-size: 12px;
    }

    .View,
    .View2 {
        font-size: 12px;
        padding: 5px 10px;
    }

    .Footer {
        padding: 20px 0;
    }

    .Footer p {
        font-size: 10px;
    }

    .Footer-icon {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}

/* Small screens (321px–480px) */
@media screen and (min-width: 321px) and (max-width: 480px) {
    .Navbar-inner {
        width: 90%;
        padding: 10px;
    }

    .Logo img {
        width: 80%;
    }

    .Links ul {
        flex-direction: column;
        gap: 8px;
    }

    .Links a {
        font-size: 12px;
        padding: 5px 0;
    }

    .Container {
        min-height: 80vh;
    }

    .Container-Info {
        top: 15%;
        left: 5%;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }

    .Container-Info h1 {
        font-size: 22px;
    }

    .Learn {
        font-size: 10px;
        padding: 8px;
    }

    .Website {
        padding: 20px 10px;
    }

    .Website h2 {
        font-size: 20px;
    }

    .Website p {
        font-size: 0.8em;
    }

    .About-inner {
        width: 90%;
        padding: 20px 0;
        flex-direction: column;
        gap: 15px;
    }

    .About-Left,
    .Right-About {
        width: 100%;
        padding: 0;
    }

    .Right-About h2 {
        font-size: 20px;
    }

    .Right-About p {
        font-size: 14px;
        line-height: 28px;
    }

    .Albums {
        padding: 30px 0;
    }

    .Albums-inner {
        width: 90%;
    }

    .Albums-inner h3 {
        font-size: 24px;
    }

    .Albums-inner p {
        font-size: 14px;
    }

    .Albums-Bar ul {
        flex-wrap: wrap;
        gap: 8px;
    }

    .Albums-Bar ul li {
        font-size: 12px;
        padding-right: 8px;
    }

    .Albums-Photos {
        flex-direction: column;
    }

    .First-Album,
    .Second,
    .third {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .First-Album1 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .News {
        padding: 30px 0;
    }

    .News-inner {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }

    .News h3 {
        font-size: 24px;
    }

    .News p {
        font-size: 14px;
    }

    .Card {
        width: 100%;
        padding: 20px;
    }

    .Card h3 {
        font-size: 20px;
    }

    .Card p {
        font-size: 14px;
    }

    .View,
    .View2 {
        font-size: 14px;
        padding: 6px 12px;
    }

    .Footer {
        padding: 30px 0;
    }

    .Footer p {
        font-size: 12px;
    }

    .Footer-icon {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
}

/* Medium screens (481px–768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .Navbar-inner {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .Links ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .Links a {
        font-size: 14px;
        padding: 5px 0;
    }

    .Container-Info {
        top: 20%;
        left: 5%;
        font-size: 18px;
        line-height: 40px;
        text-align: center;
    }

    .Container-Info h1 {
        font-size: 28px;
    }

    .Learn {
        font-size: 12px;
        padding: 10px;
    }

    .Website {
        padding: 30px 20px;
    }

    .Website h2 {
        font-size: 24px;
    }

    .Website p {
        font-size: 0.9em;
    }

    .About-inner {
        flex-direction: column;
        width: 90%;
        gap: 20px;
        padding: 30px 0;
    }

    .About-Left,
    .Right-About {
        width: 100%;
        padding: 0;
    }

    .About-Left img {
        width: 100%;
    }

    .Albums-inner {
        width: 90%;
    }

    .Albums-inner h3 {
        font-size: 28px;
    }

    .Albums-Bar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .Albums-Bar ul li {
        font-size: 14px;
        padding-right: 10px;
    }

    .Albums-Photos {
        flex-direction: column;
        align-items: center;
    }

    .First-Album,
    .Second,
    .third {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .First-Album1 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .News-inner {
        flex-direction: column;
        width: 90%;
        gap: 20px;
        padding: 30px 0;
    }

    .Card {
        width: 100%;
        padding: 30px;
    }

    .Card h3 {
        font-size: 24px;
    }

    .Card p {
        font-size: 16px;
    }

    .View,
    .View2 {
        font-size: 16px;
        padding: 8px 16px;
    }

    .Footer-inner {
        width: 90%;
    }

    .Footer-icon {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}

/* Large screens (769px–1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Navbar-inner {
        width: 85%;
    }

    .Links a {
        font-size: 16px;
        padding-right: 20px;
    }

    .Container-Info {
        top: 25%;
        left: 8%;
        font-size: 20px;
        line-height: 50px;
    }

    .Container-Info h1 {
        font-size: 32px;
    }

    .Learn {
        font-size: 12px;
        padding: 12px;
    }

    .Website {
        padding: 40px 30px;
    }

    .Website h2 {
        font-size: 28px;
    }

    .Website p {
        font-size: 1em;
    }

    .About-inner {
        width: 85%;
        gap: 30px;
    }

    .About-Left,
    .Right-About {
        width: 50%;
    }

    .Albums-inner {
        width: 85%;
    }

    .Albums-Bar ul li {
        font-size: 16px;
        padding-right: 15px;
    }

    .Albums-Photos {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .First-Album,
    .Second,
    .third {
        width: 45%;
        margin-right: 20px;
    }

    .First-Album1 {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .News-inner {
        width: 85%;
        display: block;
        margin: auto;
    }

    .Card {
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .Footer-inner {
        width: 85%;
    }
}

/* Extra-large screens (>1024px) */
@media screen and (min-width: 1025px) {
    .Navbar-inner {
        width: 80%;
    }

    .Container-Info {
        font-size: 25px;
        line-height: 60px;
    }

    .Container-Info h1 {
        font-size: 36px;
    }

    .Learn {
        font-size: 14px;
    }

    .Website {
        padding: 50px;
    }

    .About-inner {
        width: 80%;
    }

    .Albums-inner {
        width: 80%;
    }

    .News-inner {
        width: 80%;
    }

    .Footer-inner {
        width: 80%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1080px) {
     .News-inner {
        width: 85%;
        display: flex;
        margin: auto;
    }

    .Card {
        width: 50%;
        padding: 25px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
}

body {
    overflow-x: hidden;
}

/* @media (hover: none) {

    .First-Album .Layer,
    .Second .Layer,
    .third .Layer {
        opacity: 0.8;
    }

    .First-Album:hover img,
    .First-Album1:hover img {
        transform: none;
    }

    .Albums-Bar ul li {
        padding: 10px;
    }

    .Albums-Bar ul li:hover {
        color: inherit;
    }

    .Ancher:hover a {
        color: white;
    }

    .Footer-icon:hover {
        background-color: #333333;
        color: rgb(83, 83, 83);
    }
} */